# Python
*.pyc
*.pyo
*.pyd
*.egg-info/
__pycache__/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.python-version
.env
.env.*
.venv/
.py311/
.mamba-root/
.tools/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.wpr
*.wpu
.vs/
x64/

# Temp
build/
dist/
*.local

# VeighNa
.vntrader/

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build/
_static/
_templates/

# Misc
.DS_Store
*.mo

# Alpha
lab/
/.mypy_cache/
examples/alpha_research/native_results/
examples/alpha_research/public_results/
examples/portfolio_backtesting/backtest_outputs/
